{% extends "bootstrap/base.html" %}

{% block styles%}
  {{super()}}
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/lib/animate/animate.css">
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
{% endblock %}

{% block content %}
<section id="main">

<div class="row">
  <div class="col-md-2">
  </div>
<div class="container animated pulse">
  <h1 class="animated bounceInDown">XKCD Password Generator</h1>
  <div class="jumbotron grad">

  <form action="/processform" method="get">
    <div class="row">
    <div class="col-md-4">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="min_length">Minimum Password Length:</label>
        <select id = "min_length" name="min_length" class="form-control" required>
          <option value="15">Choose:</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="max_length">Maximum Password Length:</label>
        <select id = "max_length" name="max_length" class="form-control" required>
          <option value="25">Choose:</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>

        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="min_word_length">Minimum Word Length:</label>
        <select id = "min_word_length" name="min_word_length" class="form-control" required>
          <option value="3">Choose:</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="max_word_length">Maximum Word Length:</label>
        <select id = "max_word_length" name="max_word_length" class="form-control" required>
          <option value="7">Choose:</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="language">Language:</label>
        <select id = "language" name="language" class="form-control" required>
          <option value="">Choose:</option>
          <option value="english.txt">English</option>
          <option value="french.txt">French</option>
          <option value="italian.txt">Italian</option>
          <option value="spanish.txt">Spanish</option>
          <option value="multilingual.txt">Multilingual</option>
          <option value="starwars.txt">Star Wars</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="num_sub">Number substitution:</label>
        <input type="checkbox" name="num_sub">
      </div>
      <div class="form-group col-md-12">
        <label for="easy_typing">Easy typing:</label>
        <input type="checkbox" name="easy_typing">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Password!</button>
  </div>
  <div class="col-md-8">
      <img src="/static/img/password.png" class="img-thumbnail" alt="Responsive image">
  </div>
  </div>
    <div class="form-group">
    </div>
  </form>
</div>
</div>
<div class="col-md-2">
</div>
</div>
</section>

{% endblock %}
