{% extends "bootstrap/base.html" %}

{% block styles%}
  {{super()}}
  <link rel="stylesheet" href="/static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
{% endblock %}

{% block content %}
<section id="main">


<div class="row">
  <div class="col-md-2">
    <div class="container head">
      <p>This Password Generator application works
         fairly well up until passwords of minimum length = 50.</p>
      <p>Click on the Yellow button to refresh the table with the
         same password dimensions.</p>
      <p>Click on the Blue button to go back to the home page and
         change password dimensions.</p>
    </div>
  </div>
  <div class="container head">
    <div class="jumbotron">
      <div class="container">
        <h1>{{pswds|length}} custom "XKCD" like passwords!</h1>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">X</th>
            <th scope="col">K</th>
            <th scope="col">C</th>
            <th scope="col">D</th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(0,pswds|length) %}
          <tr>
            <th scope="row">{{i+1}}</th>
            <td>{{pswds[i][0]}}</td>
            <td>{{pswds[i][1]}}</td>
            <td>{{pswds[i][2]}}</td>
            <td>{{pswds[i][3]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button type="button" name="" onclick="refresh()" class="btn btn-warning btn-lg btn-block">Refresh these passwords!</button>
      </div>
      <div class="col-md-6">
        <form class="" action="/" method="get">
          <button type="submit" name="" class="btn btn-primary btn-lg btn-block">I want to change the password sizes!</button>
        </form>
      </div>
    </div>

</div>
<div class="col-md-2">

</div>
</div>
</section>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="/static/js/main.js"></script>
{% endblock %}
