{% extends "bootstrap/base.html" %}

{% block styles%}
  {{super()}}
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/lib/animate/animate.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
{% endblock %}

{% block content %}
<section id="main">
<div class="row">
  <div class="col-md-2">
    <div class="container head">
      <p>HACK ALERT: This Password Generator application works
         fairly well up until passwords of minimum length = 50 &
         maximum length <= 200.
         Play with the query string !
       </p>
      <p>Click on the Yellow button to refresh the table with the
         same password dimensions.</p>
      <p>Click on the Blue button to go back to the home page and
         change password dimensions.</p>
    </div>
  </div>
  <div class="container head">
    <div class="jumbotron">
      <div class="container">
        <h1 class="animated flash">{{pswds|length}} custom "XKCD" like passwords!</h1>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Password!</th>
            <th scope="col">Copy!</th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(0,pswds|length) %}
          <tr>
            <th scope="row">{{i+1}}</th>
            <td>
              <div class="input-group input-group-lg">
                <input id="data{{i+1}}" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" value="{{pswds[i][0]}} {{pswds[i][1]}} {{pswds[i][2]}} {{pswds[i][3]}}">
              </div>
            </td>
            <td class="smaller-td">
              <button class="btn btn2" data-clipboard-target="#data{{i+1}}">
                  <i class="far fa-copy"></i>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button type="button" name="" onclick="refresh()" class="btn btn-warning btn-lg btn-block animated fadeInLeftBig">Refresh these passwords!</button>
      </div>
      <div class="col-md-6">
        <form class="" action="/" method="get">
          <button type="submit" name="" class="btn btn-primary btn-lg btn-block animated fadeInRightBig">I want to change the password sizes!</button>
        </form>
      </div>
    </div>

</div>
<div class="col-md-2">

</div>
</div>
</section>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="/static/js/lib/clipboard/clipboard.min.js"></script>
  <script type="text/javascript" src="/static/js/main.js"></script>
{% endblock %}
